<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <description>Handles requests from mobile clients</description>
    <display-name>konzoomer.backend</display-name>
    <distributable/>

    <servlet>
        <servlet-name>kml</servlet-name>
        <jsp-file>/kml.jspx</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GetOfferImageServlet</servlet-name>
        <servlet-class>com.konzoomer.GetOfferImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileServlet</servlet-name>
        <servlet-class>com.konzoomer.MobileServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GenerateGeoCodingInputServlet</servlet-name>
        <servlet-class>com.konzoomer.admin.GenerateGeoCodingInputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecalculateActiveOfferRatings</servlet-name>
        <servlet-class>com.konzoomer.admin.RecalculateActiveOfferRatings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBrandServlet</servlet-name>
        <servlet-class>com.konzoomer.admin.SaveBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChainServlet</servlet-name>
        <servlet-class>com.konzoomer.admin.SaveChainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOfferServlet</servlet-name>
        <servlet-class>com.konzoomer.admin.SaveOfferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveStoreServlet</servlet-name>
        <servlet-class>com.konzoomer.admin.SaveStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.konzoomer.admin.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBrand</servlet-name>
        <jsp-file>/admin/editBrand.jspx</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editChain</servlet-name>
        <jsp-file>/admin/editChain.jspx</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editOffer</servlet-name>
        <jsp-file>/admin/editOffer.jspx</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editStore</servlet-name>
        <jsp-file>/admin/editStore.jspx</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <jsp-file>/admin/upload.jspx</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>kml</servlet-name>
        <url-pattern>/kml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOfferImageServlet</servlet-name>
        <url-pattern>/offerImage</url-pattern>
    </servlet-mapping>

    <!-- for backwards compatibility - delete soon -->
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mob_storesiw</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mob_offers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mob_brands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mob_storeswd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mob_storesiv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mob_store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileServlet</servlet-name>
        <url-pattern>/mob_closest_storeic</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GenerateGeoCodingInputServlet</servlet-name>
        <url-pattern>/admin/generateGeoCodingInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecalculateActiveOfferRatings</servlet-name>
        <url-pattern>/admin/recalculateActiveOfferRatings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBrandServlet</servlet-name>
        <url-pattern>/admin/saveBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChainServlet</servlet-name>
        <url-pattern>/admin/saveChain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOfferServlet</servlet-name>
        <url-pattern>/admin/saveOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveStoreServlet</servlet-name>
        <url-pattern>/admin/saveStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/admin/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBrand</servlet-name>
        <url-pattern>/admin/editBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editChain</servlet-name>
        <url-pattern>/admin/editChain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOffer</servlet-name>
        <url-pattern>/admin/editOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStore</servlet-name>
        <url-pattern>/admin/editStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/admin/upload</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.konzoomer.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>ResourceFilter</filter-name>
        <filter-class>com.konzoomer.ResourceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin pages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
